body{
	background-color:#232323;
	margin: 0;
	font-family: "Avenir";
}


.square{
	width:30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin: 1.66%;
	border-radius:15%;
	transition: background .6s;

}


#container{

	max-width : 600px;
	margin: 20px auto;
}


h1{
    margin: 0;
	text-align:center;
	background: steelblue;
    font-weight: normal;
	color: white;
	text-transform:uppercase;
	line-height: 1.1;
	padding: 20px 0;
}




#stripe{
	background: white;
	height: 30px;
	text-align: center;
}

#message{
	display: inline-block;
	width: 20%;
}

#colorDisplay{
	font-size:pan{
	color:white;
}200%;
}

.selected{
	color:white;
	background:steelblue
}

button{
	border:none;
	background:none;
	text-transform:uppercase;
	height: 100%;
	color:steelblue;
	font-weight:700;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	outline:none;
}

button:hover{
color: white;
background:steelblue;
}